{% extends "bases/base.html" %}
{% block content %}

    ...
    <style>
    body {
        padding-top: 120px; /* Ajustez cette valeur pour correspondre à la hauteur de votre en-tête */
    }
    </style>
    ...


    <section id="home" class="welcome-heros">
        <div class="container">
            <table border="1">
                <thead>
                    <tr>
                        <th rowspan="2">N° Avion</th>
                        <th colspan="11">OR 04 (200h)</th>
                    </tr>
                    <tr>
                        <th>110</th>
                        <th>111</th>
                        <th>114</th>
                        <th>115</th>
                        <th>116</th>
                        <th>119</th>
                        <th>121</th>
                        <th>122</th>
                        <th>128</th>
                        <th>165</th>
                        <th>174</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>OR 04 (200h)</td>
                        <td>8846:30</td>
                        <td>8311:10</td>
                        <td>9423:30</td>
                        <td>8511:20</td>
                        <td>8575:45</td>
                        <td>8174:55</td>
                        <td>8444:23</td>
                        <td>9122:10</td>
                        <td>9076:55</td>
                        <td>5042:40</td>
                        <td>5064:20</td>
                    </tr>
                    <!-- Ajoutez d'autres lignes ici -->
                </tbody>
            </table>
        </div>
    </section><!--/.welcome-hero-->
    <!--welcome-hero end -->



{% endblock content %}