<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pied de page</title>
    <style>
        /* Styles CSS */
        .footer {
            background-color: #333; /* Couleur de fond du pied de page */
            color: #fff; /* Couleur du texte */
            padding: 20px 0; /* Espacement intérieur haut/bas */
            text-align: center; /* Centrage du texte */
        }

        .footer p {
            margin: 0; /* Supprime les marges par défaut du paragraphe */
            font-size: 14px; /* Taille de police du texte */
        }
    </style>
</head>
<body>

<footer class="footer">
    <div class="container">
        <p>&copy; 2024 Site by IDRISSA, LUKADI, KAMIL.</p>
    </div>
</footer>

</body>
</html>
